/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Flex Container */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
 

/* Body Styles */
body {
  min-height: 100vh;
  background: rgb(86, 145, 224);
  background: radial-gradient(
    circle,
    #f5aea0 17%,
    #fbc2b7 73%
  );
}

/* Main Container Styles */
.wrapper {
  width: 440px;
  background: rgb(134, 223, 224);
  background: linear-gradient(
    0deg,
    #efab9d 20%,
    #fbc2b7 74%
  );
  padding: 2.5rem;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 1px 66px -30px rgba(0, 0, 0, 0.75);
}

/* Clock Image Styles */
.wrapper img {
  max-width: 100px;
}

/* Current Time Display Styles */
.wrapper h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2.5rem 0;
}

/* Main Content Styles */
.wrapper .content {
  width: 100%;
  justify-content: space-evenly;
}

/* Disabled Content Styles */
.wrapper .content.disable {
  opacity: 0.6;
  pointer-events: none;
}

/* Hour/Minute/AM-PM Section Styles */
.content .column {
  border-radius: 5px;
  border: 1px solid #999;
  width: calc(100% / 3 - 5px);
}

.content .column select {
  outline: none;
  border: none;
  height: 53px;
  width: 100%;
  font-size: 1rem;
  padding-left: 10px;
  cursor: pointer;
  background-color: #fbc2b7;
  border-radius: 5px;
  font-weight: 600;
}

/* Set Alarm Button Styles */
.wrapper button,
#resumeAlarmButton {
  width: 100%;
  margin-top: 20px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  background-color: #077334; /* Green color */
  padding: 1rem 0;
  cursor: pointer;
  transition: background-color 0.3s, font-size 0.2s;
}

/* Click Effect on Button Styles */
.wrapper button:active,
#resumeAlarmButton:active {
  background-color: #087937; /* Darker green color */
  font-size: 1.2rem;
}

/* Resume Button Styles */
#resumeAlarmButton {
  background-color: #af7439;
  width: 200px;
}

/* Welcome Back Screen Styles */
.welcomeBackScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fbc2b7;
  background: radial-gradient(
    circle,
    #fbc2b7 17%,
    #fbc2b7 73%
  );
  z-index: 10;
  flex-direction: column;
  display: none; /* Initially hidden */
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .wrapper {
    width: 95vw;
  }

  .welcomeBackScreen {
    font-size: 0.5rem;
  }
}
